# 文本文件统一 LF 换行
* text=auto

# 明确指定类型
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
*.xml  text eol=lf
*.md   text eol=lf
*.txt  text eol=lf

# 二进制文件
*.gif  binary
*.webp binary
*.xlsx binary
*.svg  binary
